* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-color: #6546e9;
  --liner-one: linear-gradient(
    55.47deg,
    #6547e7 11.44%,
    #6547e7 11.44%,
    #01003a 70.47%
  );
  --headin-color: #ffbe02;
  --text-color: #303030;
}

body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

img {
  width: 100%;
}

.hero {
  position: relative;
  width: 100%;
}
.hero svg:first-child {
  position: absolute;
  z-index: -1;
  top: -500%;
  right: -30%;
  width: 100%;
}
.hero .logoSvg {
  position: absolute;
  top: -90%;
  left: -53.5%;
  fill: var(--first-color);
  opacity: 0.9;
  z-index: -1;
  width: 100%;
}

.container {
  --padding: 3.1rem;
  width: min(1200px, calc(100% - var(--padding)));
  margin-inline: auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5625rem;
  position: relative;
}

.header .navBar .navList {
  display: flex;
  gap: 15px;
}

.header .navBar .navList .navItem {
  list-style: none;
}

.header .navBar .navList .navItem a {
  text-decoration: none;
  font-size: 1.3125rem;
  font-weight: 500;
  color: #ffffff;
}

.header .menu {
  display: none;
}

/* media  querys*/













@media screen and (min-width: 1024px) {
}

@media (max-width: 768px) {
  .hero .logoSvg {
    display: none;
  }
}

@media (max-width: 991px) {
  .logo {
    width: 120px;
  }
  .hero .logoSvg {
    left: -55%;
  }
  .header .navBar {
    display: none;
  }
  .header .menu {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 25px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1111;
    transition: .5s ease;
  }
  .header .menu > span {
    width: 100%;
    height: 4px;
    background-color: var(--headin-color);
    transition: .5s ease;
  }
  .header .menu span:first-child {
    align-self: flex-start;
    width: 50%;
  }
  .header .menu span:last-child {
    align-self: flex-end;
    width: 50%;
  }
  .header .menu.active {
      transform: rotate(90deg);
  }
  .header .menu.active span:first-child {
    transform: translateX(-50%);
  }
  .header .menu.active span:last-child {
    transform: translateX(50%);
  }
  
  
  .header .navBar {
    display: block;
    position: absolute;
    width: 300px;
    height: 100%;
    top: 80%;
    right: -50%;
    text-align: center;
    opacity: 0;
    transition: .5s ease;
  }
  .header .navBar .navList {
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px #0000002a;
  }
  .header .navBar .navList .navItem a {
    font-size: 1.1rem;
  }
  .header .navBar.active {
    right: 0%;
    opacity: 1;
  }
  .header .navBar .navList .navItem a{
    display: block;
    transition: 1s ease;
    transform: translateX(60px);
    opacity: 0;
  }
  .header .navBar.active .navList .navItem a {
    transform: translateX(0px);
    opacity: 1;
  }
}


/* For Mobile Portrait View */
@media screen and (max-width: 480px) {
  .header .navBar {
    width: 100%;
    height: 100%;
  }
.header .menu{
   height: 25px;
}
  .header .menu > span {
   height : 3px;
} 
}
